/*  02_base
================================================ */
@font-face {
    src: url('../fonts/josefin-sans-regular.woff2') format("woff2");
    font-family: "Josefin Sans";
    font-weight: 400;
    font-display: swap;
}

@font-face {
    src: url('../fonts/josefin-sans-bold.woff2') format("woff2");
    font-family: "Josefin Sans";
    font-weight: 700;
    font-display: swap;
}

@font-face {
    src: url('../fonts/m-plus-1p-regular.woff2') format("woff2");
    font-family: "M PLUS 1p";
    font-weight: 400;
    font-display: swap;
}

@font-face {
    src: url('../fonts/m-plus-1p-bold.woff2') format("woff2");
    font-family: "M PLUS 1p";
    font-weight: 700;
    font-display: swap;
}

@font-face {
    src: url('../fonts/myriad-pro-regular.woff2') format("woff2");
    font-family: "Myriad Pro";
    font-weight: 400;
    font-display: swap;
}

@font-face {
    src: url('../fonts/myriad-pro-bold.woff2') format("woff2");
    font-family: "Myriad Pro";
    font-weight: 700;
    font-display: swap;
}

@font-face {
    src: url('../fonts/master-sans-regular.woff2') format("woff2");
    font-family: "Master Sans";
    font-weight: 400;
    font-display: swap;
}

@font-face {
    src: url('../fonts/myriad-pro-regular.woff2') format("woff2");
    font-family: "Myriad Pro";
    font-weight: 400;
    font-display: swap;
}

@font-face {
    src: url('../fonts/myriad-pro-bold.woff2') format("woff2");
    font-family: "Myriad Pro";
    font-weight: 700;
    font-display: swap;
}

@font-face {
    src: url('../fonts/master-sans-regular.woff2') format("woff2");
    font-family: "Master Sans";
    font-weight: 400;
    font-display: swap;
}