/*  02_base
================================================ */
@font-face {
    src: url('../fonts/myriad-pro-regular.woff2') format("woff2");
    font-family: "Myriad Pro";
    font-weight: 400;
    font-display: swap;
}

@font-face {
    src: url('../fonts/myriad-pro-bold.woff2') format("woff2");
    font-family: "Myriad Pro";
    font-weight: 700;
    font-display: swap;
}

@font-face {
    src: url('../fonts/master-sans-regular.woff2') format("woff2");
    font-family: "Master Sans";
    font-weight: 400;
    font-display: swap;
}

@font-face {
    src: url('../fonts/myriad-pro-regular.woff2') format("woff2");
    font-family: "Myriad Pro";
    font-weight: 400;
    font-display: swap;
}

@font-face {
    src: url('../fonts/myriad-pro-bold.woff2') format("woff2");
    font-family: "Myriad Pro";
    font-weight: 700;
    font-display: swap;
}

@font-face {
    src: url('../fonts/master-sans-regular.woff2') format("woff2");
    font-family: "Master Sans";
    font-weight: 400;
    font-display: swap;
}