@use "./01_setting/_mixin.scss" as m;
@use "./01_setting/_var.scss" as v;

/* .l-footer
================================================ */
.l-footer {
	background: #f1f5f1;
	padding-top: 127px;
	padding-bottom: 35px;
}

/* .c-pagetop
================================================ */
.ft-pagetop {
	opacity: 0;
	visibility: hidden;
	position: fixed;
	right: 0;
	bottom: 0;
	margin: 0 30px 30px 0;
	@include m.trans($prop: opacity);
	&.is-view {
		opacity: 1;
		visibility: visible;
	}
	&__link {
		display: block;
		text-decoration: none;
		position: relative;
		&::before{
			display: block;
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: url('../img/common/btn_top01_on.webp') no-repeat center /100%;
			opacity: 0;
			@include m.trans;
		}
		&:hover{
			&::before{
				opacity: 1;
			}
		}
	}
}

/* .ft-content
================================================ */
.ft-content{
	width: 675px;
	margin: 0 auto;
	&__inner{
		display: flex;
		justify-content: space-between;
		box-sizing: border-box;
	}
	&__logo{
		width: 275px;
	}
	&__logo-link{
		display: block;
		text-decoration: none;
	}
	&__sns-list{
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 260px;
		&__item{
			width: 60px;
		}
		&__item-link{
			display: block;
			text-decoration: none;
		}
	}
}

/* .ft-cr
================================================ */
.ft-cr{
	margin-top: 50px;
	text-align: center;
	&__link{
		display: inline-block;
		position: relative;
		font-size: 1.1rem;
		text-align: center;
		color: #e60029;
		letter-spacing: .04em;
		text-decoration: none;
		@include m.trans;
		&::before{
			display: block;
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 1px;
			background: #e60029;
			opacity: 0;
			@include m.trans;

		}
		&:hover{
			&::before{
				opacity: 1;
			}
		}
	}
}
